extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let antid = toShow._id
    - let count = toShow.count
    - let anttype = toShow.type
    - let antsize = toShow.size
    - let actionid = "/resource/ant/" + antid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{antid}
    form(id='antForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.antAttr(for='ant_type',class="col-form-label") ant count
        div(class="col-auto")
          input#ant_type(type='number', name='ant_type',class="form-control", value=count)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.antAttr(for='quantity',class="col-form-label") ant type
        div(class="col-auto")
          input#quantity(type='text', name='quantity',class="form-control", value=anttype)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.antAttr(for='cost',class="col-form-label") ant cost
        div(class="col-auto")
          input#cost(type='number', name='cost',class="form-control", value=antsize)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
        
  script.
    document.forms['antForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });